.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1000px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  height: 400px;
  width: 48%;
  border-radius: 40px;
  margin-right: 1%;
  margin-left: 1%;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

@media only screen and (max-width: 730px) {
  .slideshow {
    max-width: 300px;
  }
  .slide {
    width: 100%;
    margin: 0;
  }
}
